version: "3.9"
services:
  db:
    container_name: "db"
    image: postgres:14.1-alpine
    restart: always
    env_file:
      - .env  # Указываем файл .env для переменных окружения
    ports:
      - "5432:5432"
    networks:
      - custom

  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4
    restart: always
    env_file:
      - .env  # Указываем файл .env для переменных окружения
    ports:
      - '5050:80'
    networks:
      - custom

#  app:
#    build:
#      context: ./App
#      dockerfile: Dockerfile
#    container_name: app_container
#    restart: always
#    ports:
#      - "8000:8000"
#    networks:
#      - custom
#    depends_on:
#      - db


networks:
  custom:
    driver: bridge
